# Configuración para la red inestable de tu VPS
fetch-retries=10
fetch-timeout=120000

# ¡LA SOLUCIÓN REAL!
# Esto le dice a pnpm que SÍ ejecute los scripts de 'sharp', 'better-sqlite3', etc.
ignore-scripts=false
